
$red: #e50914;
$black: #221f1f;
$blackblack: #000000;
$grey: #f5f5f1;
$white: #ffffff;

@mixin generate-gradient($color,$amount) {
	background: -moz-linear-gradient(top, rgba($color,$amount) 25%, rgba($color,4) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba($color,$amount) 25%,rgba($color,4) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba($color,$amount) 25%,rgba($color,4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}



.movie_container {
	background-color: $blackblack;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-right: 20px;
	transition: background 1s ease;
	min-height: 28.5vw;
	
	
	
	
	&:last-child {
		margin-right: 0;
	}
	
	.overlay {
		@include generate-gradient($blackblack, .75);
		padding: 20px;
		position: absolute;
		height: 100%;
		width: 100%;
		pointer-events: none;
		opacity: 0;
		transition: opacity .125s ease;
		
		.title {
			font-size: 22px;
			font-weight: 200;
			opacity: 0;
			
			transition: opacity .25s ease;
		}
		
		.date {
			font-size: 14px;
			opacity: 1;
			
			transition: opacity .25s ease .125s;
		}

		a {
			font-size: inherit;
			color: #f5f5f1;
			text-decoration: none;

		}
		
		.description {
			$lines-to-show: 3;
			font-size: 17px;
			display: -webkit-box;
			margin-top: 100px;
			font-weight: 300;
			line-height: 1.6;
			opacity: 1;
			-webkit-line-clamp: $lines-to-show;
  		-webkit-box-orient: vertical;
			overflow: hidden;
  		text-overflow: ellipsis;
			
			transition: margin .25s ease .125s, opacity .25s ease .25s;
		}
	
    
    .place {
        $lines-to-show: 3;
        font-size: 16px;
        display: -webkit-box;
        position: absolute;
        bottom: 10px;
        font-weight: 300;
        line-height: 1.6;
        opacity: 1;
        -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
        overflow: hidden;
      text-overflow: ellipsis;
        
        transition: margin .25s ease .125s, opacity .25s ease .25s;
    }
}
    
	&:hover {
		background-size: 150%;
		
		.overlay {
			opacity: 1;
			pointer-events: all;
			
			.plot {
				margin-top: 10px;
				opacity: 1;
			}
			
			.title {
				opacity: 1;
				padding-right: 2.3vw;
			}
			
			.rating {
				opacity: 1;
			}
			
			.ListToggle {
				opacity: 1;
			}
		}
	}
}
