.PageWrapper {
    width: 100%;
    background: black;
    display: grid; 
    padding-top: 65x;
    grid-template-columns:  39%  59%;
    grid-gap: 2%;
    padding-top: 100px;
    moz-transition: height 1.2s;
    -ms-transition: height 1.2s;
    -o-transition: height 1.2s;
    -webkit-transition: height 1.2s;
    transition: height 1.2s;
    overflow: hidden;
    
    
    
}

.section_col4 {
    display: inline-flex;
    width: 98%;
    justify-content: center;
    align-items: center;
}


.section_col8 {
    width: 98%;
    display: inline-block;
    
}
