


.ListToggle {
	$size: 32px;
	border: 2px solid rgba(white, .2);
	width: $size;
	height: $size;
	font-size: $size / 2;
	border-radius: $size;
	overflow: hidden;
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 1;
	
	&:hover {
		border: 2px solid white;
		div {
			top: - $size;
		}
	}
	
	&[data-toggled="true"] {
		background: red;
		border: 2px solid red;
		div {
			top: - $size;
		}
	}
	
	div {
		position: absolute;
		top: 0;
		left: 0;
		height: $size * 2;
		width: $size;
		transition: .125s ease;
		
		i {
			display: flex;
			align-items: center;
			justify-content: center;
			height: $size;
			width: $size;
        
        }
	}
}

i img:first-child {
    margin-left: -4px;
    margin-top: -4px;
}