.Button {
    background-color: transparent;
      border:none;
      color: white;
      outline:none;
      cursor: pointer;
      font: inherit;
      padding:10px;
      margin:10px;
      font-weight: bold;
    }
    
        
    .Success {
      color: #5C9210;
    }
    
    .Danger {
      color: #944317;
    }
    
    .Button:disabled {
      color: #ccc;
      cursor: not-allowed;
    }
    

    .PlayMe {
      display: inline-flex;
      align-items: center;
      background: #362e2e38;
      padding-right: 28px;
      margin-left: 25px;
      color: black;
  }

  .PlayMe img {
    filter: none;
    display: inline-block;
    height: 50px;
  }

    .StopMe {
      background: hsla(0,0%,6%,.30196);

color: #fff;

display: inline-block;

left: 50px;

padding: 10px;

position: relative;

z-index: 10;

top: -160px;
  }