$primaryColor : white;
$backgroundColor : transparent;

.Navigation {
  position: fixed;
  width: 100%;
  margin: auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 100000;
  transition: 2s;



  ul {
   display: flex;
   }

   li {
  margin: 10px;
  padding: 10px;
  list-style: none;
  font-size: 15px;
  color: $primaryColor;
    }

  a {
  text-decoration: none;
  color: $primaryColor;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
  }

 a:active, .Navigation a.active {
  text-decoration: underline;
}

}

.Scroll {
  background-color: black;
 
}  

.Logo {
  height: auto;
  width: 80px;
  display: inline-block;
  margin-left: 20px;
}

.Logo img {
  width: 80px;
}

ul.Icons {
  position: absolute;
  right: 0;
  top: -20px;
  cursor: pointer;
}
