


    .container {
        width: 100%;
        margin: 20px auto;
        position: relative;
        overflow: hidden;
        
    }

    blockquote {
        width: 100%;
        font-size: 2em;
        letter-spacing: .075em;
        float: left;
        padding: 100px 2vw 0vw 2vw;
        margin: 0;
        color: black;
        
    }

    .container:before {
        content: "“";
        font-size: 18em;
        position: absolute;
        left: -100px;
        color: #666;
    }

    .container:after {
        content: "”";
        font-size: 10em;
        position: absolute;
        right: -100px;
        top: 100px;
        color: #666;
    }

       

        blockquote:first-letter {
            font-size: 3.9em;
            float: left;
            line-height: .52em;
            margin-right: -13px;
            position: relative;
            z-index: 1;
        }

        blockquote strong:first-child {
            margin-left: 8px;
            letter-spacing: 0;
        }

        

        p {margin: 0px}

        

        blockquote + b {
            float: left;
            margin: 10px 30px;
            font-size: 2.1em;
            letter-spacing: .15em;
            color: black
        }

        blockquote + b:first-letter {
            
            font-size: 1.3em;
            font-style: italic;
            letter-spacing: .25em;
        }

        @-moz-document url-prefix() { 

            blockquote:first-letter {
                margin-top: -29px;
            }

        }