Footer {
  height: 100px;
  width: 100%;
  background: url(../../../Assets/img/slash_it.png);
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Logo {
  width: auto;
  height: 80px;
}
