.section__hero_container {
    width: 100%;
    background: black;
    height: 600px;
    display: grid; 
    padding-top: 65x;
    grid-template-columns:  39%  59%;
    grid-gap: 2%;
    padding-top: 65px;
    moz-transition: height 1.2s;
    -ms-transition: height 1.2s;
    -o-transition: height 1.2s;
    -webkit-transition: height 1.2s;
    transition: height 1.2s;
    overflow: hidden;
    background-size: cover;
    
    
    
}

.section_hero_col4 {
    display: inline-flex;
    width: 98%;
    justify-content: center;
    align-items: center;
}


.section_hero_col8 {
    width: 98%;
    display: inline-block;
    
}

.section__hero_container_video {
    width: 100%;
    background: black;
    height: 768px;
    display: block; 
    padding-top: 65px;
    transition: height 1.2s;
    }

.play {
    filter: invert(100%);
}

