$background : rgba(39, 37, 37, 0);

.Movies {
    
    background: $background;
    color: aliceblue;
    overflow: hidden;
    padding: 0x;
}

.Section {
    min-height: 610px;
    background: $background;
    padding-bottom: 40px;
    background-image: url(../../../Assets/img/slash_it.png);
    background-repeat: repeat;
    
}

.Section_Title {
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    padding: 30px;
}

.Loading {
    display: flex;
    width: 100%;
    height: 500px;
    text-align: center;
    font-size: 20px;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.Wrapper {
    max-width: 100%;
  margin: 0 auto;
  background: #EEE;

}

.PlaceholderItem { 
  height: 400px;
  display: flex;
  background: #900;
  color: #FFF;
  align-items: center;
  justify-content: center;

}

.SlideItem {
  height: 400px;
  display: flex;
  background: #333;
  color: #FFF;
  align-items: center;
  justify-content: center;

}

.ItemButton {
  padding: 20px;
  background: whitesmoke;
  color: #FFF;
  margin-right: 20px;
  margin-bottom: 20px;
}

.ButtonsWrapper{
  display: flex;
  margin: 20px;
  flex-wrap: wrap;}
